.Block1{
    background: url('../img/IMAGE2.png');
    width: 1020px;
    height: 640px;
    display: flex;
    margin-left: 90px;
}
.Block1Text{
    margin-top: 149px;
    margin-left: 30px;
}
.Block1Text h1{
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
}
.Block1Text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;

    width: 457px;
    height: 154px;
}
.Block1Text ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 149px;
    max-width: 304px;
}
.Block1Image{
    margin-top: 120px;
}
.button1{
    border-radius: 80px;
    background: rgb(239, 174, 53);
    border: none;

    width: 151px;
    height: 51px;
}
.button2{
    
    border-bottom: 2px solid rgba(36, 22, 11, 0.12);;
    height: 31px;

    font-size: 17px;
    font-weight: 400;
    line-height: 25.2px;
}